@model ChangelogViewModel

@{
    ViewData["Title"] = "Changelog";
}

<h1>Changelog</h1>

@* <p><strong>Ostatni commit:</strong></p> *@

@*<ul>
    // <li><strong>Wiadomość:</strong>*@ @Model.Message @*</li>*@
    @* <li><strong>Autor:</strong> @Model.Author</li>
    <li><strong>Data:</strong> @Model.Date</li> *@
    @* <li><a href="@Model.Url" target="_blank">GitHub</a></li> *@
@* </ul> *@
