@model RollMaster.Models.Game

<h1>@Model.Name – Panel MG</h1>

<div class="tabs">
    @for (int i = 0; i < Model.Characters.Count; i++)
    {
        <button class="tab-btn @(i == 0 ? "active" : "")"
                onclick="openTab(@i)">
            @Model.Characters[i].Imie
        </button>
    }
</div>

<div class="tab-content">
    @for (int i = 0; i < Model.Characters.Count; i++)
    {
        <div class="tab-pane @(i == 0 ? "active" : "")" id="tab-@i">

            @await Html.PartialAsync("_CharacterDashboard", Model.Characters[i])

        </div>
    }
</div>
<script>
    const forms = document.querySelectorAll(".characterForm");
    function openTab(index) {
        const tabs = document.querySelectorAll(".tab-pane");
        const buttons = document.querySelectorAll(".tab-btn");

        tabs.forEach(t => t.classList.remove("active"));
        buttons.forEach(b => b.classList.remove("active"));

        document.getElementById("tab-" + index).classList.add("active");
        buttons[index].classList.add("active");
    }
    forms.forEach(form => {
        let timeout = null;

        form.addEventListener("change", function () {
            clearTimeout(timeout);

            timeout = setTimeout(function () {
                const formData = new FormData(form);

                fetch('/Character/SaveCharacter', {
                    method: 'POST',
                    body: formData
                });
            }, 500);
        });
    });
</script>    