@model RollMaster.Models.Character

@{
    ViewData["Title"] = "Utwórz postać";
}

<h1>Utwórz nową postać</h1>
<h2 style="color:red;">PROTOTYP</h2>
<form asp-action="CreateCharacter" method="post">

    <h3>Informacje podstawowe</h3>

    <div class="form-group">
        <label asp-for="Imie"></label>
        <input asp-for="Imie" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="RodzimaKultura"></label>
        <input asp-for="RodzimaKultura" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Powolanie"></label>
        <input asp-for="Powolanie" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Wiek"></label>
        <input asp-for="Wiek" class="form-control" type="number" />
    </div>

    <div class="form-group">
        <label asp-for="PoziomZycia"></label>
        <input asp-for="PoziomZycia" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Patron"></label>
        <input asp-for="Patron" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SciezkaCienia"></label>
        <input asp-for="SciezkaCienia" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Skarb"></label>
        <input asp-for="Skarb" class="form-control" type="number" />
    </div>

    <div class="form-group">
        <label asp-for="Wyrozniki"></label>
        <textarea asp-for="Wyrozniki" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Przywary"></label>
        <textarea asp-for="Przywary" class="form-control"></textarea>
    </div>

    <hr />

    <h3>Atrybuty</h3>

    <div class="form-group">
        <label asp-for="WartoscSila"></label>
        <input asp-for="WartoscSila" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label asp-for="PTSila"></label>
        <input asp-for="PTSila" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label asp-for="Wytrzymalosc"></label>
        <input asp-for="Wytrzymalosc" class="form-control" type="number" />
    </div>

    <div class="form-group">
        <label asp-for="WartoscSerce"></label>
        <input asp-for="WartoscSerce" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label asp-for="PTSerce"></label>
        <input asp-for="PTSerce" class="form-control" type="number" />
    </div>    
    <div class="form-group">
        <label asp-for="Nadzieja"></label>
        <input asp-for="Nadzieja" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label asp-for="WartoscRozum"></label>
        <input asp-for="WartoscRozum" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label asp-for="PTRozum"></label>
        <input asp-for="PTRozum" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label asp-for="Obrona"></label>
        <input asp-for="Obrona" class="form-control" type="number" />
    </div>
    <hr />
    @for (int i = 0; i < 18; i++)
    {
        <div class="form-group mb-3">
            <label>@Model.skills[i].Name</label>
            <input asp-for="skills[i].Name" type="hidden" />
            <div class="input-group">
                <input asp-for="skills[i].Value" class="form-control" type="number" />

                <div class="input-group-text">
                    <input asp-for="skills[i].IsEnhanced" type="checkbox" class="form-check-input" />
                    <label class="ms-1 mb-0">Wzmocnione</label>
                </div>
            </div>
        </div>
    }
    <h3>Biegłości bojowe</h3>
    @for (int i = 18; i < Model.skills.Count; i++)
    {
        <div class="form-group mb-3">
            <label>@Model.skills[i].Name</label>
            <input asp-for="skills[i].Name" type="hidden" />
            <div class="input-group">
                <input asp-for="skills[i].Value" class="form-control" type="number" />

                @* <div class="input-group-text">
                    <input asp-for="skills[i].IsEnhanced" type="checkbox" class="form-check-input" />
                    <label class="ms-1 mb-0">Wzmocnione</label>
                </div> *@
            </div>
        </div>
    }
    @* <h3>Biegłości bojowe</h3>
    <div class="form-group">
        <label asp-for="BBLuki"></label>
        <input asp-for="BBLuki" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label asp-for="BBMiecze"></label>
        <input asp-for="BBMiecze" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label asp-for="BBTopory"></label>
        <input asp-for="BBTopory" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label asp-for="BBWlocznie"></label>
        <input asp-for="BBWlocznie" class="form-control" type="number" />
    </div> *@
    <hr />

    <h3>Nagrody</h3>
    <div class="form-group">
        <label asp-for="Mestwo"></label>
        <input asp-for="Mestwo" class="form-control" type="number" />
    </div>

    <div class="form-group">
        <label asp-for="Nagrody"></label>
        <textarea asp-for="Nagrody" class="form-control"></textarea>
    </div>
    <hr />
    <h3>Przymioty</h3>
    <div class="form-group">
        <label asp-for="Madrosc"></label>
        <input asp-for="Madrosc" class="form-control" type="number" />
    </div>

    <div class="form-group">
        <label asp-for="Przymioty"></label>
        <textarea asp-for="Przymioty" class="form-control"></textarea>
    </div>
    <hr />

    <h3>Rynsztunek</h3>

    @for (int i = 0; i < 4; i++)
    {
        <div class="border p-2 mb-2">
            <input asp-for="weapons[i].CharacterId" type="hidden" />

            <div class="form-group">
                <label>Nazwa</label>
                <input asp-for="weapons[i].Name" class="form-control" />
            </div>

            <div class="form-group">
                <label>Obrażenia</label>
                <input asp-for="weapons[i].Damage" type="number" class="form-control" />
            </div>

            <div class="form-group">
                <label>Rana</label>
                <input asp-for="weapons[i].Injury" type="number" class="form-control" />
            </div>

            <div class="form-group">
                <label>Obciążenie</label>
                <input asp-for="weapons[i].Load" type="number" class="form-control" />
            </div>

            <div class="form-group">
                <label>Notatki</label>
                <input asp-for="weapons[i].Notes" class="form-control" />
            </div>
        </div>
    }
    <hr />
    <h3>Rynsztunek — Zbroja</h3>

    <div class="form-group">
        <label>Nazwa</label>
        <input asp-for="Zbroja.Nazwa" class="form-control" />
    </div>

    <div class="form-group">
        <label>Pancerz</label>
        <input asp-for="Zbroja.Pancerz" class="form-control" type="number" />
    </div>

    <div class="form-group">
        <label>Obciążenie</label>
        <input asp-for="Zbroja.Obciazenie" class="form-control" type="number" />
    </div>

    <hr />
    <h3>Rynsztunek — Hełm</h3>

    <div class="form-group">
        <label>Nazwa</label>
        <input asp-for="Helm.Nazwa" class="form-control" />
    </div>

    <div class="form-group">
        <label>Pancerz</label>
        <input asp-for="Helm.Pancerz" class="form-control" type="number" />
    </div>

    <div class="form-group">
        <label>Obciążenie</label>
        <input asp-for="Helm.Obciazenie" class="form-control" type="number" />
    </div>

    <hr />
    <h3>Rynsztunek — Tarcza</h3>

    <div class="form-group">
        <label>Nazwa</label>
        <input asp-for="Tarcza.Nazwa" class="form-control" />
    </div>

    <div class="form-group">
        <label>Obrona</label>
        <input asp-for="Tarcza.Obrona" class="form-control" type="number" />
    </div>

    <div class="form-group">
        <label>Obciążenie</label>
        <input asp-for="Tarcza.Obciazenie" class="form-control" type="number" />
    </div>
    <hr />
    <h3>Rozwój</h3>

    <div class="form-group">
        <label asp-for="PunktyPrzygody"></label>
        <input asp-for="PunktyPrzygody" class="form-control" type="number" />
    </div>

    <div class="form-group">
        <label asp-for="PunktyUmiejetnosci"></label>
        <input asp-for="PunktyUmiejetnosci" class="form-control" type="number" />
    </div>

    <div class="form-group">
        <label asp-for="PunktyZazylosci"></label>
        <input asp-for="PunktyZazylosci" class="form-control" type="number" />
    </div>
    <hr />

    <h3>Obecna wytrzymałość</h3>

    <div class="form-group">
        <label asp-for="ObecnaWytrzymalosc"></label>
        <input asp-for="ObecnaWytrzymalosc" class="form-control" type="number" />
    </div>

    <div class="form-group">
        <label asp-for="Obciazenie"></label>
        <input asp-for="Obciazenie" class="form-control" type="number" />
    </div>

    <div class="form-group">
        <label asp-for="Znuzenie"></label>
        <input asp-for="Znuzenie" class="form-control" type="number" />
    </div>
    <hr />
    <h3>Obecna nadzieja</h3>

    <div class="form-group">
        <label asp-for="ObecnaNadzieja"></label>
        <input asp-for="ObecnaNadzieja" class="form-control" type="number" />
    </div>

    <div class="form-group">
        <label asp-for="Cien"></label>
        <input asp-for="Cien" class="form-control" type="number" />
    </div>

    <div class="form-group">
        <label asp-for="PietnoCienia"></label>
        <input asp-for="PietnoCienia" class="form-control" type="number" />
    </div>
    <hr />
    <h3>Ograniczenia</h3>

    <div class="form-check mb-2">
        <input asp-for="Wyczerpanie" class="form-check-input" type="checkbox" />
        <label asp-for="Wyczerpanie" class="form-check-label"></label>
    </div>

    <div class="form-check mb-2">
        <input asp-for="Przygnebienie" class="form-check-input" type="checkbox" />
        <label asp-for="Przygnebienie" class="form-check-label"></label>
    </div>

    <div class="form-check mb-2">
        <input asp-for="Rana" class="form-check-input" type="checkbox" />
        <label asp-for="Rana" class="form-check-label"></label>
    </div>

    <div class="form-group mt-2">
        <label asp-for="StopienRany"></label>
        <input asp-for="StopienRany" class="form-control" placeholder="TEST" />
    </div>
    <hr />

    <h3>Ekwipunek</h3>

    <div class="form-group">
        <label asp-for="Ekwipunek"></label>
        <textarea asp-for="Ekwipunek" class="form-control"></textarea>
    </div>
    <hr />

    <h3>Dodatkowe</h3>
    <div class="form-group">
        <label asp-for="SzczegolnaSympatia"></label>
        <textarea asp-for="SzczegolnaSympatia" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Zapisz</button>
</form>
